*{
    font-family: 'Courier New', Courier, monospace;
    margin: 100;
    padding: 0;
    box-sizing: border-box;
}

.h1{
    margin:30px;
    padding: 20px;
    border: 2px dotted red;
    text-align: center;
    background-color: antiquewhite;
    font-weight: 900;
}


.index-list{
    margin: 30px 70px;
    padding: 15px;
    padding-left: 35px;
    background-color: aquamarine;
    text-decoration:none;
    color: black;
    border-radius: 10px;
    

}
.list-lasagna,.list-sandwich{
    color: black;
}
.list-lasagna li:hover{
    color: blue;

}
.list-sandwich li:hover{
    color:blue;
}
.index-ol li a:hover{
    color: rgb(159, 5, 5);
}
a{
    display: block;
    text-decoration: none;
    color:rgb(54, 77, 226);
    font-size: 20px;
    padding: 1px;
    background-color: aquamarine;
}
.lasagna,.sandwich{
    background-color: rgb(161, 102, 25);
    text-align: center;
    border-radius: 10px;

}
.body-lasagna,.body-sandwich{
    background-color: beige;
    margin: 50px;
    border: 1px dotted black;
    padding: 1rem;
}
.lasagna-logo,.sandwich-logo{
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}
.list-lasagna,.list-sandwich{
    display: block;
    margin: 30px 70px;
    padding: 45px;
    border: 3px solid black;
    border-radius: 13px;
    background-color: aquamarine;
    text-decoration:none;
    list-style: decimal;
}

.button {
  display: block;
  width: fit-content;
  margin: 20px auto;
  padding: 10px 25px;
  background-color: aqua;
  color: black;
  text-decoration: none;
  border: 3px solid rgb(103, 3, 3);
  font-weight: 500px;
}

.button:hover {
  background-color: rgb(80, 62, 237);
  color: white;
}


