*{
    font-family: 'Courier New', Courier, monospace;
    margin: 100;
    padding: 0;
    box-sizing: border-box;
    /* background-color: rgb(238, 245, 244); */
/* }
.heading{
    height: 300px;
    width: 750px;
} */

.h1{
    margin:30px;
    padding: 20px;
    border: 2px dotted red;
    text-align: center;
    background-color: antiquewhite;
    font-weight: 900;
}
/* .logo{
    display: inline-block;
    height: 60px;
    width:auto; */

.index-list{
    margin: 30px 70px;
    padding: 15px;
    padding-left: 35px;
    background-color: aquamarine;
    text-decoration:none;
    color: black;
    border-radius: 10px;
    

}
.list-lasagna li:hover{
    color:blue;
}
.index-ol li a:hover{
    color: rgb(159, 5, 5);
}
a{
    display: block;
    text-decoration: none;
    color:rgb(54, 77, 226);
    font-size: 20px;
    padding: 1px;
    background-color: aquamarine;
}
.lasagna{
    background-color: rgb(161, 102, 25);
    text-align: center;
    border-radius: 10px;

}
.body-lasagna{
    background-color: beige;
}
.lasagna-logo{
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}
.list-lasagna{
    display: block;
    margin: 30px 70px;
    padding: 45px;
    border: 3px solid black;
    background-color: aquamarine;
    text-decoration:none;
    list-style: decimal;
}

.button {
  display: block;
  width: fit-content;
  margin: 20px auto;
  padding: 10px 25px;
  background-color: aqua;
  color: black;
  text-decoration: none;
  border: 3px solid rgb(103, 3, 3);
  font-weight: 500px;
}

.button:hover {
  background-color: rgb(80, 62, 237);
  color: white;
}
